.converter-containter {
  display: flex;
  gap: 35px;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  padding: 85px 0;
}

.converter {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.converter_title {
  font-weight: 700;
  font-size: 40px;
  color: #1f1e25;
  margin: 0;
}

.converter_text {
  font: 400 20px "Roboto", sans-serif;
  color: #707c87;
  margin: 0;
  max-width: 379px;
}
.converter_button {
  width: 234px;
  height: 53px;
  background-color: #2c36f2;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f7ff;
  font-size: 18px;
}
