.footer {
  min-height: 91px;
  display: flex;
  align-items: start;
  padding: 60px 100px;
  justify-content: space-between;
  color: #707c87;
  font: 400 12px "Roboto", sans-serif;
  background-color: #f6f7ff;
}
.footer_logo {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  display: flex;
  gap: 12px;
}
.footer_logo-container {
  display: flex;
  flex-direction: row;
}
.footer_logo-text {
  color: #1f1e25;
  font: 20px "Work Sans", sans-serif;
}
.footer_logo-description {
  max-width: 182px;
}
.footer_contacts {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 35vw;
}
.socials {
  display: flex;
  gap: 20px;
}
