.container{
    height:400px;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}
.banner{
    display:flex;
    gap:200px;
}
.banner_converter{
    display:flex;
    flex-direction: column;
    gap:30px;
}
.banner_converter_header{
    font-size:54px;
    color:#F6F7FF;
}
.banner_converter_text{
    font: 500 20px "Roboto", sans-serif;
    color:#F6F7FF;
}
.banner_converter_button {
    width: 234px;
    height: 53px;
    background-color: #F6F7FF;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner_converter_button a {
    color: #707C87;
    font-size:18px;
}